body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}
address,
cite,
dfn,
em,
var,
i {
  font-style: normal;
}
code,
kbd,
pre,
samp {
  font-family: courier new, courier, monospace;
}
small {
  font-size: 16px;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
fieldset,
img {
  border: 0;
}
input,
select {
  -webkit-tap-highlight-color: transparent;
}
@-webkit-keyframes flow {
  from {
    transform: translate3d(0, -30px, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-moz-keyframes flow {
  from {
    transform: translate3d(0, -30px, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes flow {
  from {
    transform: translate3d(0, -30px, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-o-keyframes flow {
  from {
    transform: translate3d(0, -30px, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes flow {
  from {
    transform: translate3d(0, -30px, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes flow {
  from {
    transform: translate3d(0, -30px, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-moz-keyframes flow {
  from {
    transform: translate3d(0, -30px, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes flow {
  from {
    transform: translate3d(0, -30px, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-o-keyframes flow {
  from {
    transform: translate3d(0, -30px, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes flow {
  from {
    transform: translate3d(0, -30px, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
html,
body {
  height: 100%;
}
html {
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  padding: 0;
  position: relative;
  word-break: break-all;
  word-wrap: break-word;
  font-size: 1em;
  line-height: 1.5;
  font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", STHeiti, "WenQuanYi Micro Hei", SimSun, Helvetica, sans-serif;
  background: #fefefe;
  color: #323232;
}
@font-face {
  font-family: 'iconfont';
  src: url("//at.alicdn.com/t/font_1469071762_054906.eot");
  src: url("//at.alicdn.com/t/font_1469071762_054906.eot?#iefix") format('embedded-opentype'), url("//at.alicdn.com/t/font_1469071762_054906.woff") format('woff'), url("//at.alicdn.com/t/font_1469071762_054906.ttf") format('truetype'), url("//at.alicdn.com/t/font_1469071762_054906.svg#iconfont") format('svg');
}
.i-weibo,
.i-github,
.i-v2ex,
.i-douban,
.i-zhihu,
.i-twitter,
.i-facebook,
.i-codepen,
.i-left,
.i-right,
.i-next {
  font-family: 'iconfont';
  font-size: 18px;
  font-style: normal;
  color: #616171;
}
.i-weibo::after {
  content: '\e607';
}
.i-github::after {
  content: '\e60a';
}
.i-v2ex::after {
  content: '\e606';
}
.i-douban::after {
  content: '\e605';
}
.i-zhihu::after {
  content: '\e608';
}
.i-twitter::after {
  content: '\e609';
}
.i-facebook::after {
  content: '\e60b';
}
.i-codepen::after {
  content: '\e601';
}
.i-left::after {
  content: '\e600';
}
.i-right::after {
  content: '\e602';
}
.i-next::after {
  content: '\e603';
}
.wrap {
  position: relative;
  transition: 300ms all ease-in-out;
}
.header {
  max-width: 840px;
  margin: 0 auto 20px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 1px 3px #e3e3e3;
  -webkit-box-shadow: 0 1px 3px #e3e3e3;
  -moz-box-shadow: 0 1px 3px #e3e3e3;
  -ms-box-shadow: 0 1px 3px #e3e3e3;
  -o-box-shadow: 0 1px 3px #e3e3e3;
}
.header a {
  color: #323232;
  display: inline-block;
  padding: 10px 10px;
  transition: background-color 200ms ease;
}
.header a:hover {
  background-color: #e3e3e3;
}
.header .ac {
  color: #b71c1c;
}
.side {
  position: fixed;
  bottom: 40px;
  transition: 300ms all;
}
.side .top,
.side .arrows {
  width: 35px;
  height: 35px;
  border: 1px solid rgba(0,0,0,0);
  line-height: 35px;
  text-align: center;
  cursor: pointer;
  background-color: #e3e3e3;
  border-radius: 3px;
}
.side .top:after,
.side .arrows:after {
  content: '\e602';
  font-family: iconfont;
  font-size: 16px;
  color: #323232;
}
.side .top:hover:after,
.side .arrows:hover:after {
  color: #b71c1c;
}
.side .top {
  margin-bottom: 1px;
  transform: rotate3d(0, 0, 1, -90deg);
  -webkit-transform: rotate3d(0, 0, 1, -90deg);
  -moz-transform: rotate3d(0, 0, 1, -90deg);
  -ms-transform: rotate3d(0, 0, 1, -90deg);
  -o-transform: rotate3d(0, 0, 1, -90deg);
}
.sideShow .arrows {
  transform: rotate3d(0, 1, 0, 180deg);
  -webkit-transform: rotate3d(0, 1, 0, 180deg);
  -moz-transform: rotate3d(0, 1, 0, 180deg);
  -ms-transform: rotate3d(0, 1, 0, 180deg);
  -o-transform: rotate3d(0, 1, 0, 180deg);
}
.sideShow .side {
  transform: translate3d(2px, 0, 0);
  -webkit-transform: translate3d(2px, 0, 0);
  -moz-transform: translate3d(2px, 0, 0);
  -ms-transform: translate3d(2px, 0, 0);
  -o-transform: translate3d(2px, 0, 0);
}
.sideShow .wrap {
  padding-left: 210px;
}
.sideShow .sidebar {
  transform: none;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  box-shadow: 1px 0 5px #ededed;
  -webkit-box-shadow: 1px 0 5px #ededed;
  -moz-box-shadow: 1px 0 5px #ededed;
  -ms-box-shadow: 1px 0 5px #ededed;
  -o-box-shadow: 1px 0 5px #ededed;
}
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  width: 210px;
  transform: translate3d(-210px, 0, 0);
  -webkit-transform: translate3d(-210px, 0, 0);
  -moz-transform: translate3d(-210px, 0, 0);
  -ms-transform: translate3d(-210px, 0, 0);
  -o-transform: translate3d(-210px, 0, 0);
  transition: transform 300ms ease-in-out;
  background-color: #ededed;
}
.sidebar .head-icon {
  margin: 30px auto 10px;
  width: 72px;
  height: 72px;
}
.sidebar .head-icon img {
  width: 60px;
  height: 60px;
  border: 6px solid rgba(255,255,255,0.85);
  border-radius: 50%;
}
.sidebar .desc {
  margin: 0 auto;
  text-align: center;
  color: #707070;
  font-size: 15px;
  max-width: 180px;
}
.sidebar .name {
  text-align: center;
  color: #000;
  padding: 0 0 10px;
  font-size: 15px;
}
.sidebar .side-nav {
  margin-top: 35px;
  text-align: center;
  font-size: 16px;
}
.sidebar .side-nav .nav-item {
  display: inline-block;
  padding: 0 4px;
}
.sidebar .side-nav .nav-item span {
  color: #616171;
  display: block;
  transition: 200ms color;
}
.sidebar .side-nav .nav-item:hover span {
  color: #000;
}
.sidebar .side-nav .nav-item:nth-child(n+2) {
  border-left: 2px solid #e0e0e0;
}
.sidebar .social-wrap {
  margin: 30px auto 0;
  width: 180px;
  text-align: center;
}
.sidebar .social-wrap .item {
  padding: 5px;
  display: inline-block;
  transition: 200ms all ease-in-out;
}
.sidebar .social-wrap .item:hover {
  background-color: #e3e3e3;
}
.sidebar .social-wrap .item:hover i {
  color: #000;
}
.content {
  max-width: 760px;
  min-height: 768px;
  margin: 0 auto;
  padding: 20px 40px;
  background-color: #fff;
  box-shadow: 0px 1px 3px #e3e3e3;
  -webkit-box-shadow: 0px 1px 3px #e3e3e3;
  -moz-box-shadow: 0px 1px 3px #e3e3e3;
  -ms-box-shadow: 0px 1px 3px #e3e3e3;
  -o-box-shadow: 0px 1px 3px #e3e3e3;
}
.archives {
  margin-bottom: 50px;
  animation: flow 530ms ease-in-out;
}
.archives .title-wrap {
  margin: 20px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
}
.archives .title-wrap h1 {
  font-size: 1.8em;
  color: #202020;
}
.archives .title-wrap .post-title {
  position: relative;
  display: inline-block;
}
.archives .title-wrap .post-title::before {
  content: '';
  bottom: 0;
  width: 100%;
  position: absolute;
  border-top: 2px solid #1b1a1a;
  transform: scale3d(0, 1, 1);
  -webkit-transform: scale3d(0, 1, 1);
  -moz-transform: scale3d(0, 1, 1);
  -ms-transform: scale3d(0, 1, 1);
  -o-transform: scale3d(0, 1, 1);
  transition: transform 200ms ease-in-out;
}
.archives .title-wrap .post-title:hover::before {
  transform: scale3d(1, 1, 1);
  -webkit-transform: scale3d(1, 1, 1);
  -moz-transform: scale3d(1, 1, 1);
  -ms-transform: scale3d(1, 1, 1);
  -o-transform: scale3d(1, 1, 1);
}
.archives .title-wrap .page-info {
  font-size: 16px;
  color: #616171;
}
.archives .title-wrap .page-info a {
  color: #616171;
}
.archives .title-wrap .page-info a:hover {
  border-bottom: 1px solid #1b1a1a;
}
.archives .read-more {
  text-align: left;
}
.archives .read-more a {
  color: #202020;
  line-height: 14px;
  transition: all 200ms ease-in-out;
}
.archives .read-more a:hover {
  border-bottom: 1px solid #1b1a1a;
}
.archives .read-more a:hover span {
  color: #000;
}
.archives .read-more a span {
  font-size: 14px;
}
.archives .read-more a span::after {
  font-size: 12px;
}
.archives .content-wrap h1,
.archives .content-wrap h2,
.archives .content-wrap h3,
.archives .content-wrap h4 {
  color: #b71c1c;
  margin: 1.5em 0 1em;
}
.archives .content-wrap h1 {
  font-size: 1.75em;
}
.archives .content-wrap h2 {
  font-size: 1.5em;
}
.archives .content-wrap h3,
.archives .content-wrap h4 {
  font-size: 1.1em;
}
.archives .content-wrap blockquote {
  border-left: 0.3em solid #e0e0e0;
}
.archives .content-wrap blockquote p {
  padding-left: 0.8em;
}
.archives .content-wrap ul {
  padding-left: 1.5em;
}
.archives .content-wrap ul li {
  list-style: circle;
}
.archives .content-wrap .code {
  border: none;
}
.archives .content-wrap figure table {
  border: none;
}
.archives .content-wrap p {
  margin: 1em 0;
  text-align: justify;
}
.archives .content-wrap img {
  display: block;
  max-width: 90%;
  margin: 0 auto;
  border: 1px solid #e0e0e0;
}
.archives .content-wrap a {
  color: #4078c0;
}
.archives .content-wrap a:hover {
  text-decoration: underline;
}
.archives .content-wrap table {
  max-width: 80%;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-spacing: 0;
  border-collapse: collapse;
}
.archives .content-wrap th {
  padding: 8px;
  border-top: 0;
  vertical-align: top;
  text-align: left;
  line-height: 1.42857143;
  vertical-align: bottom;
  border: 1px solid #ddd;
  border-bottom-width: 2px;
  box-sizing: border-box;
}
.archives .content-wrap td {
  border: 1px solid #ddd;
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
}
.page-nav {
  margin: 40px 0;
  text-align: center;
}
.page-nav .space,
.page-nav .page-number,
.page-nav .extend {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 10px;
}
.page-nav .page-number {
  text-align: center;
  font-size: 16px;
  line-height: 30px;
}
.page-nav .page-number:hover {
  border-bottom: 1px solid #000;
}
.page-nav .extend {
  line-height: 30px;
}
.page-nav .extend:hover {
  border-bottom: 1px solid #000;
}
.page-nav .extend i {
  font-size: 12px;
}
.page-nav .current {
  color: #616171;
  border-bottom: 1px solid #000;
}
.page-nav a {
  color: #616171;
}
.ds-thread {
  width: 96%;
  margin: 0 auto;
}
.content pre,
.content .highlight {
  background: #fafafa;
  margin: 1em auto;
  padding: 10px;
  overflow: auto;
  color: #515151;
  line-height: 1.5;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
}
.content .gist .gist-file .gist-data .line-numbers {
  color: #666;
  font-size: 0.85em;
}
.content pre,
.content code {
  font-family: consolas, "menlo", monospace;
}
.content code {
  background: #fefefe;
  text-shadow: 0 1px #fff;
  padding: 0 0.3em;
}
.content pre code {
  background: none;
  text-shadow: none;
  padding: 0;
}
.content .highlight pre {
  border: none;
  margin: 0;
  padding: 0;
}
.content .highlight table {
  margin: 0;
  width: auto;
}
.content .highlight td {
  border: none;
  padding: 0;
}
.content .highlight figcaption {
  font-size: 0.85em;
  color: #999;
  line-height: 1em;
  margin-bottom: 1em;
}
.content .highlight figcaption a {
  float: right;
}
.content .highlight .gutter pre {
  display: none;
}
.content .highlight .line {
  height: 1.5em;
}
.content .highlight .line.marked {
  background: #515151;
}
.content .gist {
  margin: 0 -20px;
  border-style: solid;
  border-color: #e0e0e0;
  border-width: 1px 0;
  background: #fafafa;
  padding: 15px 20px 15px 0;
}
.content .gist .gist-file {
  border: none;
  font-family: font-mono;
  margin: 0;
}
.content .gist .gist-file .gist-data {
  background: none;
  border: none;
}
.content .gist .gist-file .gist-data .line-numbers {
  background: none;
  border: none;
  padding: 0 20px 0 0;
}
.content .gist .gist-file .gist-data .line-data {
  padding: 0 !important;
}
.content .gist .gist-file .highlight {
  margin: 0;
  padding: 0;
  border: none;
}
.content .gist .gist-file .gist-meta {
  background: #fafafa;
  color: #999;
  font: 0.85em font-sans;
  text-shadow: 0 0;
  padding: 0;
  margin-top: 1em;
  margin-left: 20px;
}
.content .gist .gist-file .gist-meta a {
  color: color-link;
  font-weight: normal;
}
.content .gist .gist-file .gist-meta a:hover {
  text-decoration: underline;
}
pre .comment,
pre .title {
  color: #999;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #f2777a;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f99157;
}
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #9c9;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #9c9;
}
pre .css .hexcolor {
  color: #6cc;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #69c;
}
pre .keyword,
pre .javascript .function {
  color: #c9c;
}
.cate-head {
  text-align: center;
  margin-top: 20px;
  font-size: 1.5em;
}
.cate-list-item {
  display: inline-block;
  padding: 0 8px;
}
.cate-list {
  max-width: 80%;
  margin: 40px auto 0;
}
.cate-list a {
  color: #323232;
  padding: 5px;
}
.cate-list a:hover {
  text-decoration: underline;
}
.cate-list span {
  color: #616171;
}
.cate-list span:before {
  content: '[';
}
.cate-list span:after {
  content: ']';
}
.tags-cloud {
  width: 80%;
  margin: 20px auto 0;
  text-indent: 4px;
  text-align: center;
  word-break: normal;
}
.tags-cloud a {
  display: inline-block;
  margin: 5px;
}
.tags-cloud a:hover {
  border-bottom: 1px solid #e3e3e3;
}
.ct-title {
  margin: 10px auto 20px;
  text-align: center;
}
.ct-title h2 {
  font-size: 1.75em;
}
.ct-title small {
  color: #616171;
}
.footer {
  max-width: 760px;
  margin: 10px auto 0;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0 5px #e3e3e3;
  -webkit-box-shadow: 0 0 5px #e3e3e3;
  -moz-box-shadow: 0 0 5px #e3e3e3;
  -ms-box-shadow: 0 0 5px #e3e3e3;
  -o-box-shadow: 0 0 5px #e3e3e3;
  padding: 10px 40px;
}
.footer a {
  color: #4078c0;
}
.footer a:hover {
  text-decoration: underline;
}
.footer div {
  padding: 5px;
}
@media screen and (max-width: 800px) {
  .side {
    display: none;
  }
  .content {
    padding: 20px;
  }
  .footer,
  .header {
    max-width: 800px;
  }
  .page-nav .page-number {
    width: 25px;
    height: 25px;
    line-height: 25px;
  }
}
